@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}
/* share.css */
.create-post {
  padding: 8px 20px;
  position: static;
  max-width: 433px;
  margin: 5px auto;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  background-color: rgb(24, 23, 23);
}

.profile-pic{
 cursor: pointer;
  margin-right: 20px;
  background-color: rgb(24, 23, 23);
}

.per {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#create-post {
  flex: 1; /* Añadido */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


button.bo{
  background-color: #f88120;
  border: none;
  border-radius: 20px;
  padding: 9px 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  color: white;
}


.in {
  background-color: rgb(24, 23, 23);
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    resize: none;
    color: rgb(255, 255, 255); /* Cambiar el color del texto */
  }
  

